# Ignore log files
*.log

# Ignore environment files
.env

# Ignore build directories
dist/
build/
# Ignore coverage reports
reports/

# Ignore test screenshots directories
tests/expected_screenshots/

# Ignore virtual environment
venv/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore .vscode directory
.vscode/
git
# Ignore __pycache__ directories
__pycache__/
.pytest_cache/

